body {
    width: 400px;
    margin: auto;
}


.fa-check-circle {
    margin-top: 30px;
    margin-left: 0px;
}

.haut {
    background-color: #FFFFFF;
    color: #101010;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
    height: 56px;
}

.entree {
    display: contents;
}

.plat {
    display: contents;
}

.dessert {
    display: contents;
}

.haut img {
    width: 60%;
    margin-left: 20%;
    padding-top: 15px;
}

.fa-heart {
    margin-left: 340px;
}

.photo1 {
    margin-top: 35px;
    z-index: 1;
}

    .photo1 img {
        width: 100%;
        height: 274px;
    }

.photo2 {
    margin-top: 35px;
    z-index: 1;
}

    .photo2 img {
        width: 100%;
        height: 274px;
    }

.photo3 {
    margin-top: 35px;
    z-index: 1;
}

    .photo3 img {
        width: 100%;
        height: 274px;
    }

.photo4 {
    margin-top: 35px;
    z-index: 1;
}

    .photo4 img {
        width: 100%;
        height: 274px;
    }

.commander {
    background: rgb(227,112,218);
    background: linear-gradient(90deg, rgba(227,112,218,1) 0%, rgba(230,113,219,1) 35%, rgba(174,95,220,1) 100%);
    border-radius: 2000px;
    height: 41px;
    width: 171px;
    text-align: center;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-left: 110px;
    margin-bottom: 90px;
    box-shadow: 0px 5px 5px grey;
    margin-top: 50px;
    font-family: Arial;
}

.millieu {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #F6F6F6;
    height: 1200px;
    padding-top: 40px;
    margin-top: -60px;
    z-index: 10;
    position: relative;
}

.deco {
    border-bottom: #99E2D0 solid 2px;
    padding-bottom: 5px;
}

.millieu h1 {
    margin-bottom: -23px;
    font-family: 'Cooper Black';
    font-style: italic;
    margin-left: 20px;
    font-weight: 900;
    font-size: 33px;
    font-weight: 900;
}

.millieu h2 {
    font-family: Arial;
    margin-left: 20px;
    font-weight: lighter;
    margin-top: 50px;
}

.millieu p {
    font-family: Arial;
}

@keyframes glis1 {
    from {
        width: 310px;
    }

    to {
        width: 260px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

@keyframes glis2 {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes glis3 {
    from {
        width: 320px;
    }

    to {
        width: 260px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}

.anim {
    background-color: #99E2D0;
    height: 74px;
    text-align: center;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    color: white;
    padding-right: 20px;
    padding-left: 20px;
    position: absolute;
    margin-left: 320px;
    opacity: 0;
}

.entree1 {
    display: flex;
    background-color: white;
    width: 371px;
    height: 73px;
    box-shadow: 0px 5px 5px grey;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 5px #ECECEC;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

    .entree1:hover .entree1_nom p {
        animation-name: glis1;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-delay: 0s;
    }

    .entree1:hover .anim {
        animation-name: glis2;
        animation-duration: 5s;
        animation-fill-mode: forwards;
        animation-delay: 0s;
    }

    .entree1:hover .entree1_nom h3 {
        animation-name: glis3;
        animation-duration: 3s;
        animation-fill-mode: forwards;
        animation-delay: 0s;
    }

.entree1_nom {
    margin-left: 5px;
}

    .entree1_nom h3 {
        margin-bottom: 2px;
        width: 320px;
        font-family: Arial;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 3px;
    }

    .entree1_nom p {
        margin-top: 2px;
        width: 310px;
        margin-left: 0px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 3px;
    }

.entree1_prix p {
    margin-left: 5px;
    margin-top: 45px;
    font-weight: bold;
}

.entree2:hover .entree2_nom p {
    animation-name: glis1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.entree2:hover .anim {
    animation-name: glis2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.entree2:hover .entree2_nom h3 {
    animation-name: glis3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.entree2 {
    display: flex;
    background-color: white;
    width: 371px;
    height: 73px;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 5px #ECECEC;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.entree2_nom {
    margin-left: 5px;
}

    .entree2_nom h3 {
        margin-bottom: 2px;
        width: 320px;
        font-family: Arial;
        margin-left: -10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 3px;
    }

    .entree2_nom p {
        width: 310px;
        margin-top: 2px;
        margin-left: -10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-left: 3px;
    }

.entree2_prix p {
    margin-left: 5px;
    margin-top: 45px;
    font-weight: bold;
}

.entree3:hover .entree3_nom p {
    animation-name: glis1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.entree3:hover .anim {
    animation-name: glis2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.entree3:hover .entree3_nom h3 {
    animation-name: glis3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.entree3 {
    display: flex;
    background-color: white;
    width: 371px;
    height: 73px;
    border-radius: 20px;
    margin-left: 15px;
    box-shadow: 0px 5px 5px #ECECEC;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.entree3_nom {
    margin-left: 5px;
}

    .entree3_nom h3 {
        margin-bottom: 2px;
        font-family: Arial;
        width: 320px;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .entree3_nom p {
        margin-top: 2px;
        width: 310px;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.entree3_prix p {
    margin-left: 5px;
    margin-top: 45px;
    font-weight: bold;
}

.entree4:hover .entree4_nom p {
    animation-name: glis1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.entree4:hover .anim {
    animation-name: glis2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.entree4:hover .entree4_nom h3 {
    animation-name: glis3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.entree4 {
    margin-top: 15px;
    display: flex;
    background-color: white;
    width: 371px;
    height: 73px;
    border-radius: 20px;
    margin-left: 15px;
    box-shadow: 0px 5px 5px #ECECEC;
    margin-top: 10px;
}

.entree4_nom {
    margin-left: 5px;
}

    .entree4_nom h3 {
        margin-bottom: 2px;
        font-family: Arial;
        width: 320px;
        margin-left: -18px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .entree4_nom p {
        margin-top: 2px;
        width: 310px;
        margin-left: -33px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.entree4_prix p {
    margin-left: 28px;
    margin-top: 45px;
    font-weight: bold;
}

.plat1:hover .plat1_nom p {
    animation-name: glis1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.plat1:hover .anim {
    animation-name: glis2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.plat1:hover .plat1_nom h3 {
    animation-name: glis3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.plat1 {
    display: flex;
    background-color: white;
    width: 371px;
    height: 73px;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 5px #ECECEC;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.plat1_nom {
    margin-left: 5px;
}

    .plat1_nom h3 {
        margin-bottom: 2px;
        width: 320px;
        font-family: Arial;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .plat1_nom p {
        margin-top: 2px;
        width: 310px;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.plat1_prix p {
    margin-left: 10px;
    margin-top: 45px;
    font-weight: bold;
}

.plat2:hover .plat2_nom p {
    animation-name: glis1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.plat2:hover .anim {
    animation-name: glis2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.plat2:hover .plat2_nom h3 {
    animation-name: glis3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.plat2 {
    display: flex;
    background-color: white;
    width: 371px;
    height: 73px;
    box-shadow: 0px 5px 5px #ECECEC;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.plat2_nom {
    margin-left: 5px;
}

    .plat2_nom h3 {
        margin-bottom: 2px;
        width: 320px;
        font-family: Arial;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .plat2_nom p {
        margin-top: 2px;
        width: 310px;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.plat2_prix p {
    margin-left: 5px;
    margin-top: 45px;
    font-weight: bold;
}

.plat3:hover .plat3_nom p {
    animation-name: glis1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.plat3:hover .anim {
    animation-name: glis2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.plat3:hover .plat3_nom h3 {
    animation-name: glis3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.plat3 {
    display: flex;
    background-color: white;
    width: 371px;
    height: 73px;
    box-shadow: 0px 5px 5px #ECECEC;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 20px;
    margin-left: 15px;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.plat3_nom {
    margin-left: 5px;
}

    .plat3_nom h3 {
        margin-bottom: 2px;
        width: 320px;
        font-family: Arial;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .plat3_nom p {
        margin-top: 2px;
        width: 310px;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.plat3_prix p {
    margin-left: 5px;
    margin-top: 45px;
    font-weight: bold;
}

.dessert1:hover .dessert1_nom h3 {
    animation-name: glis3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.dessert1:hover .dessert1_nom p {
    animation-name: glis1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.dessert1:hover .anim {
    animation-name: glis2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.dessert1 {
    display: flex;
    background-color: white;
    width: 371px;
    height: 73px;
    box-shadow: 0px 5px 5px #ECECEC;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.dessert1_nom {
    margin-left: 5px;
}

    .dessert1_nom h3 {
        margin-bottom: 2px;
        width: 320px;
        font-family: Arial;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dessert1_nom p {
        margin-top: 2px;
        width: 310px;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.dessert1_prix p {
    margin-left: 5px;
    margin-top: 45px;
    font-weight: bold;
}

.dessert2:hover .dessert2_nom p {
    animation-name: glis1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.dessert2:hover .anim {
    animation-name: glis2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.dessert2:hover .dessert2_nom h3 {
    animation-name: glis3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.dessert2 {
    display: flex;
    background-color: white;
    width: 371px;
    height: 73px;
    box-shadow: 0px 5px 5px #ECECEC;
    border-radius: 20px;
    margin-left: 15px;
    margin-bottom: 15px;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.dessert2_nom {
    margin-left: 5px;
}

    .dessert2_nom h3 {
        margin-bottom: 2px;
        width: 320px;
        font-family: Arial;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dessert2_nom p {
        width: 310px;
        margin-top: 2px;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.dessert2_prix p {
    margin-left: 5px;
    margin-top: 45px;
    font-weight: bold;
}

.dessert3:hover .dessert3_nom p {
    animation-name: glis1;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.dessert3:hover .anim {
    animation-name: glis2;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.dessert3:hover .dessert3_nom h3 {
    animation-name: glis3;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-delay: 0s;
}

.dessert3 {
    display: flex;
    background-color: white;
    width: 371px;
    height: 73px;
    box-shadow: 0px 5px 5px #ECECEC;
    border-radius: 20px;
    margin-left: 15px;
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}

.dessert3_nom {
    margin-left: 5px;
}

    .dessert3_nom h3 {
        width: 320px;
        margin-bottom: 2px;
        font-family: Arial;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .dessert3_nom p {
        margin-top: 2px;
        width: 310px;
        margin-left: 3px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

.dessert3_prix p {
    margin-left: 5px;
    margin-top: 45px;
    font-weight: bold;
}

.bas {
    background-color: #353535;
    color: #FFFFFF;
    height: 197px;
    margin-top: -20px;
    padding-left: 10px;
    height: 220px;
    text-align: left;
}

#proposer {
    display: flex;
    margin-left: 10px;
    font-family: Arial;
    font-weight: bold;
}

#devenir {
    font-family: Arial;
    display: flex;
    margin-left: 10px;
    font-weight: bold;
}

.bas h4 {
    font-family: 'Bodoni MT Black';
    font-style: italic;
    margin-left: 10px;
    padding-top: 20px;
    font-size: 20px;
}

.bas p {
    font-family: Arial;
    margin-left: 10px;
}

.fa-utensils {
    margin-right: 10px;
}

.fa-hands-helping {
    margin-right: 10px;
}


